<h1 style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">Listado de habitaciones</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Descripcion</th>
      <th>Disponiblidad</th>
      <th>Comentarios</th>
      <th>Nro camas single</th>
      <th>Nro camas matrimoniales</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @habitacions.each do |habitacion| %>
      <tr>
        <td><%= habitacion.nombre %></td>
        <td><%= habitacion.descripcion %></td>
        <td>
          <% if habitacion.disponible %>
            <%=  'Disponible '%>
          <% else %>
            <%=  'Ocupada '%>
          <% end %>
        </td>
        <td><%= habitacion.comentarios %></td>
        <td><%= habitacion.nro_camas_single %></td>
        <td><%= habitacion.nro_camas_matrimoniales %></td>
        <td><%= link_to 'Editar', edit_habitacion_path(habitacion), class: 'btn btn-mini' %> 
        <%= link_to 'Eliminar', habitacion_path(habitacion), :method => :delete, :confirm => 'Estas seguro que desea eliminar la habitacion?', class: 'btn btn-mini btn-danger',style: 'color: white; font-weight: bold;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
