<h1 style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">Listado de habitaciones</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Disponible</th>
      <th>Comentarios</th>
      <th>Nro camas single</th>
      <th>Nro camas matrimoniales</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @habitacions.each do |habitacion| %>
      <tr>
        <td><%= habitacion.nombre %></td>
        <td><%= habitacion.descripcion %></td>
        <td><%= habitacion.disponible %></td>
        <td><%= habitacion.comentarios %></td>
        <td><%= habitacion.nro_camas_single %></td>
        <td><%= habitacion.nro_camas_matrimoniales %></td>
        <td><%= link_to 'Show', habitacion %></td>
        <td><%= link_to 'Edit', edit_habitacion_path(habitacion) %></td>
        <td><%= link_to 'Destroy', habitacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habitacion', new_habitacion_path %>
