<div id="pad-wrapper" class="new-user">
	<div class="row-fluid header">
		<h3>Check in</h3>
	</div>

	<div class="row-fluid form-wrapper">
		<!-- left column -->
		<div class="span9 with-sidebar">
		    <div class="container">
				
				<%= form_for(@reserva) do |f| %>
				  <% if @reserva.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>
				      <ul>
				        <% @reserva.errors.full_messages.each do |msg| %>
				          <li><%= msg %></li>
				        <% end %>
				      </ul>
				    </div>
				  <% end %>
				   <div class="span12 field-box">
				    <%= f.label :cliente_id %>
				    <% clientes_array = Cliente.all.map { |cliente| ["#{cliente.nombre} #{cliente.apellido}", cliente.id] } %>
				    <%= f.select(:cliente_id, options_for_select(clientes_array)) %>
				  </div>
				  <div class="span12 field-box">
				    <label >Cliente Nuevo?</label>
				    <%= check_box_tag 'con_cliente', 'ClienteNuevo', false %>
				  </div>
				<div style="clear:both"></div>
				<div id="cliente_form">
					<%= f.fields_for :cliente  do |ff| %>
					  <div class="span12 field-box">
				        <label>Nombre:</label>
				        <%= ff.text_field(:nombre, class: "span9") %><br />
				    </div>
				    <div class="span12 field-box">
				        <label>Apellido:</label>
				        <%= ff.text_field(:apellido, class: "span9") %><br />
				    </div>
				    <div class="span12 field-box">
				        <label>Fecha de Nacimiento:</label>
				        <%= ff.date_select :fecha_nac , order: [:day, :month, :year], start_year: Time.now.year - 110, end_year: Time.now.year%> <br />
				    </div>
				    <div class="span12 field-box">
				        <label>Nacionalidad:</label>
				        <%= ff.text_field(:nacionalidad, class: "span9") %><br />
				    </div>
				    <div class="span12 field-box">
				        <label>Email:</label>
				        <%= ff.text_field(:email, class: "span9") %><br />
				    </div>
				    <div class="span12 field-box">
				        <label>Telefono:</label>
				        <%= ff.text_field(:telefono, class: "span9") %><br />
				    </div>
				    <div class="span12 field-box">
				        <label>Documento:</label>
				        <div class="address-fields">
				          <%= ff.text_field(:documento_tipo, class: "span12 small", placeholder: "Tipo Documento") %>
				          <%= ff.text_field(:documento, class: "span12 small", placeholder: "Documento") %>
				        </div>
				    </div>
				    <div class="span12 field-box">
				        <label>Direccion:</label>
				        <div class="address-fields">
				            <%= ff.text_field(:direccion, class: "span12", style: "margin-bottom: 15px;" , placeholder: "Direccion") %>
				            <%= ff.text_field(:ciudad_residencia, class: "span12 small", placeholder: "Ciudad") %>
				            <%= ff.text_field(:estado_residencia, class: "span12 small", placeholder: "Estado") %>
				            <%= ff.text_field(:pais_residencia, class: "span12 small", placeholder: "Pais") %>
				            <%= ff.text_field(:codigo_postal, class: "span12 small last", style: "margin-top: 15px;" , placeholder: "Codigo Postal") %>
				        </div>
				    </div>
				    <div class="span12 field-box textarea">
				        <label>Comentarios:</label>
				        <%= ff.text_area(:comentarios, class: "span9") %><br />
				        <span class="charactersleft">90 characters remaining. Field limited to 100 characters</span>
				    </div>
					<% end %>
					<div style="clear:both"></div>
				  </div>
				
				
				 
				  <div class="span12 field-box">
				      <%= f.label :fecha_inicio_estadia %>
				      <%= f.datetime_select :fecha_inicio_estadia, order: [:day, :month, :year], start_year:Time.now.year , end_year: Time.now.year + 10 %>
				  </div>
				  <div class="span12 field-box">
				    <%= f.label :fecha_fin_estadia %>
				    <%= f.datetime_select :fecha_inicio_estadia, order: [:day, :month, :year], start_year:Time.now.year , end_year: Time.now.year + 10 %>
				  </div>

				  <div class="span12 field-box">
				    <label> Pago </label>
				    <div class="address-fields">
				      <div style="margin-bottom:15px">
				        <%= f.select(:moneda, ['Peso', 'Dolar', 'Euro'], class: "span6") %>
				            <%= f.number_field(:monto, class: "span6", style: "margin-bottom:0px", placeholder: "Monto") %> 
				      </div>
				      <%= f.select(:abonada,  [['Abonada', true],['No abonada', false]]) %>
				      <%= f.select(:forma_de_pago, ['Contado', 'Crédito'], class: "span6") %>

				    </div>
				  </div>

				  <div class="span12 field-box">
				    <%= f.label :tipo_reserva_id %>
				    <%= f.select(:tipo_reserva_id, options_for_select(TipoReserva.find(:all, :conditions => {:habilitada => true}))) %>
				  </div>
				  
				  <div class="span12 field-box">
				    <%= f.label :habitacion_id %>
				    <%= f.collection_select(:habitacion_id, Habitacion.all, :id, :nombre) %>
				  </div>
				  <div class="span12 field-box textarea">
				    <%= f.label :comentarios %>
				    <%= f.text_area :comentarios, class: "span9" %>
				    <span class="charactersleft">90 characters remaining. Field limited to 100 characters</span>
				  </div>
				  <div class="span11 field-box actions">
				    <%= f.submit "Crear reserva", class: "btn-glow primary" %>
				    <span>OR</span>
				    <input type="reset" value="Cancelar" class="reset" />
				  </div>

				<% end %>
			</div>
		</div>
	</div>
</div>
