
<h1>Los pinos colonia hotel</h1>

<nav>
	<h3 class="titulo">Menú</h3>
	<ul>
		<li><%= link_to 'Administradores', admin_users_path %></li>
		<li><%= link_to 'Clientes', clientes_path %></li>
		<li><%= link_to 'Gastos', gastos_path %></li>
		<li><%= link_to 'Habitaciones', habitacions_path %></li>
		<li><%= link_to 'Reservas', reservas_path %></li>
		<li><%= link_to 'Tarjetas', tarjeta_path %></li>
		<li><%= link_to 'Tipos reservas', tipo_reservas_path %></li>
	</ul>
</nav>