<%= form_for(@tarjetum) do |f| %>
  <% if @tarjetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarjetum.errors.count, "error") %> prohibited this tarjetum from being saved:</h2>

      <ul>
      <% @tarjetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :habilitada %><br>
    <%= f.check_box :habilitada %>
  </div>
  <div class="field">
    <%= f.label :comentarios %><br>
    <%= f.text_field :comentarios %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
