<h1>Listing tarjeta</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Habilitada</th>
      <th>Comentarios</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tarjeta.each do |tarjetum| %>
      <tr>
        <td><%= tarjetum.nombre %></td>
        <td><%= tarjetum.habilitada %></td>
        <td><%= tarjetum.comentarios %></td>
        <td><%= link_to 'Show', tarjetum %></td>
        <td><%= link_to 'Edit', edit_tarjetum_path(tarjetum) %></td>
        <td><%= link_to 'Destroy', tarjetum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tarjetum', new_tarjetum_path %>
