<%= form_for(@tipo_reserva) do |f| %>
  <% if @tipo_reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_reserva.errors.count, "error") %> prohibited this tipo_reserva from being saved:</h2>

      <ul>
      <% @tipo_reserva.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :habilitada %><br>
    <%= f.check_box :habilitada %>
  </div>
  <div class="field">
    <%= f.label :comentarios %><br>
    <%= f.text_field :comentarios %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
