<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :fecha_nac %><br>
    <%= f.date_select :fecha_nac %>
  </div>
  <div class="field">
    <%= f.label :nacionalidad %><br>
    <%= f.text_field :nacionalidad %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.text_field :documento %>
  </div>
  <div class="field">
    <%= f.label :documento_tipo %><br>
    <%= f.text_field :documento_tipo %>
  </div>
  <div class="field">
    <%= f.label :comentarios %><br>
    <%= f.text_field :comentarios %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
