<%= form_for(@gasto) do |f| %>
  <% if @gasto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gasto.errors.count, "error") %> prohibited this gasto from being saved:</h2>

      <ul>
      <% @gasto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="span12 field-box">
    <label>Rubro:</label>
    <%= f.text_field(:rubro, class: "span9") %><br />
  </div>
  <div class="span12 field-box">
    <label>Fecha:</label>
    <%= f.date_select :fecha , order: [:day, :month, :year], start_year: Time.now.year - 10, end_year: Time.now.year%> <br />
  </div>
  <div class="span12 field-box">
    <label>Monto:</label>
    <%= f.text_field(:monto, class: "span9") %><br />
  </div>  
  <div class="span12 field-box">
    <label>Moneda:</label>
    <%= f.text_field(:moneda, class: "span9") %><br />
  </div> 
  <div class="span12 field-box textarea">
      <label>Comentarios:</label>
      <%= f.text_area(:comentarios, class: "span9") %><br />
      <span class="charactersleft">90 characters remaining. Field limited to 100 characters</span>
  </div>
  <div class="span11 field-box actions">
    <%= f.submit "Ingresar Gasto", class:"btn-glow primary"  %>
      <span>OR</span>
      <input type="reset" value="Cancelar" class="reset" />
  </div>
  </div>
<% end %>
