<h1 style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;" >Listado de gastos</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Rubro</th>
      <th>Monto</th>
      <th>Moneda</th>
      <th>Comentarios</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gastos.each do |gasto| %>
      <tr>
        <td><%= gasto.fecha %></td>
        <td><%= gasto.rubro %></td>
        <td><%= gasto.monto %></td>
        <td><%= gasto.moneda %></td>
        <td><%= gasto.comentarios %></td>
        <td><%= link_to 'Ver', gasto %></td>
        <td><%= link_to 'Editar', edit_gasto_path(gasto) %></td>
        <td><%= link_to 'Eliminar', gasto, method: :delete, data: { confirm: 'Estas seguro que desea eliminar el gasto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ingresar Gasto', new_gasto_path %>
