<%= form_for(@reserva) do |f| %>
  <% if @reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% @reserva.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fehca_creacion %><br>
    <%= f.date_select :fehca_creacion %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio_estadia %><br>
    <%= f.date_select :fecha_inicio_estadia %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin_estadia %><br>
    <%= f.date_select :fecha_fin_estadia %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.number_field :monto %>
  </div>
  <div class="field">
    <%= f.label :moneda %><br>
    <%= f.text_field :moneda %>
  </div>
  <div class="field">
    <%= f.label :abonada %><br>
    <%= f.check_box :abonada %>
  </div>
  <div class="field">
    <%= f.label :forma_de_pago %><br>
    <%= f.text_field :forma_de_pago %>
  </div>
  <div class="field">
    <%= f.label :tipo_reserva_id %><br>
    <%= f.text_field :tipo_reserva_id %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br>
    <%= f.text_field :cliente_id %>
  </div>
  <div class="field">
    <%= f.label :habitacion_id %><br>
    <%= f.text_field :habitacion_id %>
  </div>
  <div class="field">
    <%= f.label :comentarios %><br>
    <%= f.text_field :comentarios %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
