<%= form_for(@reserva) do |f| %>
            <% if @reserva.errors.any? %>
              <div class="alert fade in alert-danger alert-dismissable"><button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
                <ul>
                  <% @reserva.errors.full_messages.each do |msg| %>
                    <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
                  <% end %>
                </ul>
              </div>
            <% end %>
           
        
          <div class="span12 field-box">
              <%= f.label :fecha_inicio_estadia %>
              <%= f.datetime_select :fecha_inicio_estadia, order: [:day, :month, :year], start_year:Time.now.year , end_year: Time.now.year + 10, use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], style: "width: 100px ;" %>
          </div>
          <div class="span12 field-box">
            <%= f.label :fecha_fin_estadia %>
            <%= f.datetime_select :fecha_fin_estadia, order: [:day, :month, :year], start_year:Time.now.year , end_year: Time.now.year + 10,  use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], default: { hour: 10, minute: 00 } %>
          </div>

          <div class="span12 field-box">
            <label> Pago </label>
            <div class="address-fields">
              <div style="margin-bottom:15px">
                <%= f.select(:moneda, ['Peso', 'Dolar', 'Euro'], class: "span6") %>
                    <%= f.number_field(:monto, class: "span6", style: "margin-bottom:0px", placeholder: "Monto") %> 
              </div>
              <%= f.select(:abonada,  [['Abonada', true],['No abonada', false]]) %>
              <%= f.select(:forma_de_pago, ['Contado', 'Crédito'], class: "span6") %>

            </div>
          </div>

          <div class="span12 field-box">
            <%= f.label :tipo_reserva %>
            <%= f.select :tipo_reserva, 
            options_from_collection_for_select(TipoReserva.all, 'id', 'nombre' , @reserva.tipo_reserva.id),
            { include_blank: true },
            {class: 'chz-select-tipo' } %>
          </div>
          
          <div class="span12 field-box">
            <%= f.label :habitacion %>
            <%= f.select :habitacion, 
            options_from_collection_for_select(Habitacion.all,  'id', 'nombre' , @reserva.habitacion.id),
            { include_blank: true }, 
            {class: 'chz-select' } %>
          </div>
          <div class="span12 field-box">
            <%= f.label :cliente %>
            <%= f.select :cliente, 
            options_from_collection_for_select( Cliente.all,  "id" , "to_s" , @reserva.cliente.id ), 
            { include_blank: true  },
            {class: 'chz-select-cliente' } %>
          </div>
          
          <div class="span12" style="margin-left:0px; margin-bottom:20px;" >
            <%= f.label :confirmada%>
            <div style="padding-left:120px;">
            
            <!-- <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue"  name="reserva[confirmada]" value="true"/>-->

            <input type="checkbox"  name="reserva[confirmada]" value="true"/>
           </div> 

           </div>
          <div class="span12 field-box textarea">
            <%= f.label :comentarios %>
            <%= f.text_area :comentarios, class: "span9" %>
          </div>
          

          <div style="clear:both"></div>
          <div class="span11 field-box actions">
            <%= f.submit "Guardar reserva", class: "btn-glow primary" %>
            <%= link_to "Volver", reservas_path , class: "btn btn-default", style: "color: #0078d9; font-size: 11px; margin-left: 5px;" %>
          </div>
          
          </div>

        <% end %>