<%= form_for(@reserva) do |f| %>
  <% if @reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>
      <ul>
        <% @reserva.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span12 field-box">
      <%= f.label :fecha_inicio_estadia %>
      <%= f.datetime_select :fecha_inicio_estadia, order: [:day, :month, :year], default: Time.now, start_year:Time.now.year , end_year: Time.now.year + 10 %>
  </div>
  <div class="span12 field-box">
    <%= f.label :fecha_fin_estadia %>
    <%= f.datetime_select :fecha_fin_estadia, order: [:day, :month, :year],default: Time.now, start_year:Time.now.year , end_year: Time.now.year + 10 %>
  </div>

  <div class="span12 field-box">
    <label> Pago </label>
    <div class="address-fields">
      <div style="margin-bottom:15px">
        <%= f.select(:moneda, ['Peso', 'Dolar', 'Euro'], class: "span6") %>
            <%= f.number_field(:monto, class: "span6", style: "margin-bottom:0px", placeholder: "Monto") %> 
      </div>
      <%= f.select(:abonada,  [['Abonada', true],['No abonada', false]]) %>
      <%= f.select(:forma_de_pago, ['Contado', 'Crédito'], class: "span6") %>

    </div>
  </div>

  <div class="span12 field-box">
    <%= f.label :tipo_reserva %>
    <%= f.select :tipo_reserva, 
    TipoReserva.all.map { |t| ["#{t.nombre}", t.id]},
    { include_blank: false, selected: @reserva.tipo_reserva },
    {class: 'chz-select-tipo' } %>
  </div>
  <div class="span12 field-box">
    <%= f.label :cliente %>
    <%= f.select :cliente, 
    Cliente.all.map { |c| ["#{c.nombre} #{c.apellido}", c.id]}, 
    { include_blank: false , selected: @reserva.cliente },
    {class: 'chz-select-cliente' } %>
  </div>
  <div class="span12 field-box">
    <%= f.label :habitacion %>
    <%= f.select :habitacion, 
    Habitacion.all.map { |h| ["#{h.nombre}", h.id]},
    { include_blank: false }, 
    {class: 'chz-select' } %>
  </div>
  <div class="span12 field-box textarea">
    <%= f.label :comentarios %>
    <%= f.text_area :comentarios, class: "span9" %>
    <span class="charactersleft">90 characters remaining. Field limited to 100 characters</span>
  </div>

  <div class="span11 field-box actions">
    <%= f.submit "Crear reserva", class: "btn-glow primary" %>
    <span>OR</span>
    <input type="reset" value="Cancelar" class="reset" />
  </div>
<% end %>