<h1 style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">Listado de reservas</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Fecha creacion</th>
      <th>Fecha inicio estadia</th>
      <th>Fecha fin estadia</th>
      <th>Monto</th>
      <th>Moneda</th>
      <th>Abonada</th>
      <th>Forma de pago</th>
      <th>Tipo reserva</th>
      <th>Cliente</th>
      <th>Habitacion</th>
      <th>Comentarios</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.fehca_creacion %></td>
        <td><%= reserva.fecha_inicio_estadia %></td>
        <td><%= reserva.fecha_fin_estadia %></td>
        <td><%= reserva.monto %></td>
        <td><%= reserva.moneda %></td>
        <td><%= reserva.abonada %></td>

        <td>
          <% if reserva.abonada %>
            <%= 'Abonada' %>
          <% else %>
            <%= 'No abonada' %>
          <% end %>
        </td>

        <td><%= reserva.forma_de_pago %></td>
        <td><%= reserva.tipo_reserva %></td>
        <td><%= reserva.cliente %></td>
        <td><%= reserva.habitacion %></td>
        <td><%= reserva.comentarios %></td>
        <td><%= link_to 'Ver', reserva %></td>
        <td><%= link_to 'Editar', edit_reserva_path(reserva) %></td>
        <td><%= link_to 'Eliminar', reserva, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva reserva', new_reserva_path %>
