<h1 style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">Listado de reservas</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Fecha creacion</th>
      <th>Fecha inicio estadia</th>
      <th>Fecha fin estadia</th>
      <th>Monto</th>
      <th>Moneda</th>
      <th>Abonada</th>
      <th>Forma de pago</th>
      <th>Cliente</th>
      <th>Habitacion</th>
      <th>Comentarios</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><% if reserva.fehca_creacion %>
            <%= reserva.fehca_creacion.strftime('%d-%m-%Y %H:%M') %>
          <% end %></td>
        <td><% if reserva.fecha_inicio_estadia %>
            <%= reserva.fecha_inicio_estadia.strftime('%d-%m-%Y %H:%M') %>
          <% end %></td>
        <td><% if reserva.fecha_fin_estadia %>
            <%= reserva.fecha_fin_estadia.strftime('%d-%m-%Y %H:%M') %>
          <% end %></td>
        <td><%= reserva.monto %></td>
        <td><%= reserva.moneda %></td>

        <td>
          <% if reserva.abonada %>
            <%= 'Abonada' %>
          <% else %>
            <%= 'No abonada' %>
          <% end %>
        </td>

        <td><%= reserva.forma_de_pago %></td>
        <td><%= reserva.cliente %></td>
        <td><%= reserva.habitacion %></td>
        <td><%= reserva.comentarios %></td>
        <td><%= link_to 'Editar', edit_reserva_path(reserva), class: 'btn btn-mini' %> 
        <%= link_to 'Eliminar', reserva_path(reserva), :method => :delete, :confirm => 'Estas seguro que desea eliminar la reserva?', class: 'btn btn-mini btn-danger',style: 'color: white; font-weight: bold;' %>
        <% if !reserva.confirmada %>
          <%= button_to 'Confirmar', reserva_confirmar_path(reserva), class: 'btn btn-mini btn-success' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
