<div id="pad-wrapper" class="new-user">
  <div class="row-fluid header">
    <h3>Ver Reserva</h3>
  </div>

  <div class="row-fluid form-wrapper">
    <!-- left column -->
    <div class="span9 with-sidebar">
        <div class="container"><p id="notice"><%= notice %></p>
<table class="table table-hover">


<tr>
  <td><strong>Fecha creacion:</strong></td>
  <td><%= @reserva.fehca_creacion.strftime('%d %b, %Y %H:%M:%S ') %></td>
</tr>

<tr>
  <td><strong>Fecha inicio estadia:</strong></td>
  <td><%= @reserva.fecha_inicio_estadia.strftime('%d %b, %Y %H:%M:%S ') %></td>
</tr>

<tr>
  <td><strong>Fecha fin estadia:</strong></td>
  <td><%= @reserva.fecha_fin_estadia.strftime('%d %b, %Y %H:%M:%S ') %></td>
</tr>

<tr>
  <td><strong>Monto:</strong></td>
  <td><%= @reserva.monto %></td>
</tr>

<tr>
  <td><strong>Moneda:</strong></td>
  <td><%= @reserva.moneda %></td>
</tr>

<tr>
  <td><strong>Abonada:</strong></td>
  <td><%= @reserva.abonada %></td>
</tr>

<tr>
  <td><strong>Forma de pago:</strong></td>
  <td><%= @reserva.forma_de_pago %></td>
</tr>

<tr>
  <td><strong>Tipo reserva:</strong></td>
  <td><%= @reserva.tipo_reserva %></td>
</tr>

<tr>
  <td><strong>Cliente:</strong></td>
  <td><%= @reserva.cliente %></td>
</tr>

<tr>
  <td><strong>Habitacion:</strong></td>
  <td><%= @reserva.habitacion %></td>
</tr>

<tr>
  <td><strong>Confirmacion:</strong></td>
  <td>
    <% if @reserva.confirmada %>
    <span>
      <span class="label label-success">
        Confirmada
      </span>
    </span>
    <% else %>
    <span>
      <span class="label label-warning">
        Pendiente
      </span>
    <% end %>
    </span>
  </td>
</tr>

<tr>
  <td><strong>Acompaniantes:</strong></td>
  <td>
    <% if @reserva.clientes.size > 0 %>
      <% @reserva.clientes.each do |a| %>
        <%= a.nombre %><br>
      <% end %>
    <% else %>
      Sin acompaniantes
    <% end %>
    </span>
  </td>
</tr>

<tr>
  <td><strong>Comentarios:</strong></td>
  <td><%= @reserva.comentarios %></td>
</tr>
<%= link_to 'Atras', reservas_path %>
</table>
      </div>
    </div>
  </div>
</div>
